helm/*
k3s
kompose
prometheus-client/main
*.sw*
/*.html
.DS_Store
containers/custom_scheduler/custom_scheduler
schedulertest
containers/temp
*.pyc
*log.*
*INFO*
.ipynb_checkpoints/*
scripts/.ipynb_checkpoints/
containers/netmon/*_deployment.yaml
